.container {
    width: 100%;
    padding: 7px 7px;
    background-color: white;
    border-radius: 25px;
}
.flex {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.item {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 14px;
}
span.buttonMargin {
    margin-top: 2px;
}