.flex {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 14px;
    background-color: white;
    padding: 7px 7px 7px 14px;
    border-radius: 25px;
    border: 1px solid #E2E4E5;
}
label {
    font-size: 14px;
    font-weight: 400;
}
input {
    font-size: 14px;
    font-weight: 400;
    color: black;
    background-color: #f7f8f8;
    border-radius: 18px;
    padding: 20px 18px;
    text-align: center;
}

select {
    display: block;
    font-size: 14px;
    font-weight: 400;
    color: black;
    background-color: #f7f8f8;
    border-radius: 18px;
    padding: 20px 18px;
    text-align: center;
    -moz-appearance: none;
    -webkit-appearance: none;
    border: none;
    position: relative;
    outline: none;
}
option {
    background-color: #f7f8f8;
    
}